{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} {{ super() }} {% endblock %}

{% block body %}

    {{ super() }}

    <div class="container">

        <h1>
            Il mio portfolio
        </h1>

        <a href="{{ url_for('logout') }}" style="float:right;">Effettua il logout</a> <br>

        <p style="font-weight: bold; font-size: large;"> Aggiungi progetto </p>

        <form action="/admin_zone" method="POST">
            <input maxlength="100" class="form-control" placeholder="Titolo progetto" type="text" name="title" id="title"> <br>
            <textarea maxlength="300" class="form-control" rows="5" placeholder="Descrizione progetto" name="content" id="content"></textarea> <br>
            <input class="btn btn-primary" type="submit" value="Aggiungi progetto">
        </form>

        {% if projects|length < 1  %}
        <h4>Non hai ancora creato progetti</h4>
        {% else %}
            {% for project in projects %}
                <div class="card mb-3" style="background-color: white; border-radius: 20px; margin-top: 10px; margin-bottom: 20px;">
                  <div class="row g-0">
                    <div class="col-md-4" style="max-width: 150px;">
                      <img src="{{url_for('static', filename='icona_progetto.png')}}" class="img-fluid rounded-start"
                           alt="Icona progetto" style="max-width: 150px;">
                    </div>
                    <div class="col-md-10">
                      <div class="card-body" style="padding-top: 20px; padding-left: 10px;">
                        <p class="card-title" style="font-weight: bold;">{{ project.title }}</p>
                        <p class="card-text">{{ project.content }}</p>
                        <a href="update/{{project.id}}">Aggiorna progetto</a>
                        <a href="delete/{{project.id}}" style="margin-left: 10px;">Cancella progetto</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
