<!DOCTYPE html>
<html lang="it">

    {% extends 'base_without_nav.html' %}

    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block title %} {{ super() }} {% endblock %}

    {% block body %}

        {{ super() }}

        <div class="container">
            <h2 style="padding-top:150px;margin:auto;width:50%;text-align: center;"> Non hai i permessi per accedere </h2>
            <h3 style="padding-top:20px;margin:auto;width:50%;text-align: center;"> Torna al Portfolio: <a href="{{ url_for('portfolio_page')}}"> clicca qui </a></h3>
        </div>
    {% endblock %}
</html>