<!DOCTYPE html>
<html lang="it">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}
        <title>
            {% block title %} Portfolio Michele Zaza {% endblock %}
        </title>
    </head>
    <body>
        {% block body %}
        <div class="container">
            <ul class="nav nav-pills" style="background-color: #EA381D; border-radius: 15px; padding-left: 15px">
              <li class="nav-item">
                <a class="nav-link active" style="color:white;" href="{{ url_for('portfolio_page') }}">Il mio portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:white;" href="{{ url_for('cv_page') }}">Currivulum vitae</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:white;" href="{{ url_for('mz_page') }}">Michele Zaza</a>
              </li>
            </ul>
        </div>
        {% endblock %}
    </body>
</html>