{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} {{ super() }} {% endblock %}

{% block body %}

    {{ super() }}

    <div class="container">
        <h1> Il mio Curriculum Vitae </h1>

        <iframe src="https://portfolio-michelezaza.herokuapp.com/cvpdf" width="90%" height="750px"
                    style="display:block; margin:auto; margin-top: 10px; margin-bottom: 20px;"> </iframe>
    </div>
{% endblock %}
