{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} {{ super() }} {% endblock %}

{% block body %}

    {{ super() }}

    <div class="container">

        <h1>
            Il mio portfolio
        </h1>

        {% if projects|length < 1  %}
            <h4 style="margin:auto;width:50%;text-align: center;margin-top: 20px;">Non ci sono ancora progetti da visualizzare.</h4>
        {% else %}

            {% for project in projects %}
                <div class="card mb-3" style="background-color: white; border-radius: 20px; margin-top: 10px; margin-bottom: 20px;">
                  <div class="row g-0">
                    <div class="col-md-4" style="max-width: 150px;">
                      <img src="{{url_for('static', filename='icona_progetto.png')}}" class="img-fluid rounded-start"
                           alt="Icona progetto" style="max-width: 150px;">
                    </div>
                    <div class="col-md-10">
                      <div class="card-body" style="padding-top: 20px; padding-left: 10px;">
                        <p class="card-title" style="font-weight: bold;">{{ project.title }}</p>
                        <p class="card-text">{{ project.content }}</p>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}
