<html>
  <title>Login admin</title>

</html>

{% extends 'base_without_nav.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} {{ super() }} {% endblock %}

{% block body %}

    {{ super() }}

    <div class="container">
      <form method='POST'>
        <h2> Admin login </h2>
        <input class="form-control" placeholder="Username" type='text' name='username' style="margin-top:10px;"/>
        <input class="form-control" placeholder="Password" type='password' name='password' style="margin-top:10px;"/>
        <button class="btn btn-primary" onclick="history.back()" style="margin-top: 10px;"> Torna indietro </button>
        <input class="btn btn-primary" type='submit' name='submit' value="Accedi" style="margin-top:10px;"/>
      </form>
    </div>

{% endblock %}