{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} {{ super() }} {% endblock %}

{% block body %}

    {{ super() }}

    <div class="container">
        <h1> Michele Zaza </h1>
        <div class="card mb-3" style="border-radius: 20px; margin-top: 10px; margin-bottom: 20px; margin-left:15px;
                                        padding-left: 20px;">
          <div class="row g-0">
            <div class="col-md-9">
              <div class="card-body" style="padding-top: 30px;">
                <lu>
                    <li style="font-size: 20px;">Studente universitario, frequentante il corso di Informatica magistrale</li>
                    <li style="font-size: 20px;">Appassionato di tecnologia, informatica, cinema, scrittura, serie tv, videogiochi, musica</li>
                    <li style="font-size: 20px;">Entusiasta tecnologico</li>
                    <li style="font-size: 20px;">Aspirante programmatore full-stack developer</li>
                    <li style="font-size: 20px;">Formatore presso Virgilian Code</li>
                </lu>
              </div>
            </div>
              <div class="col-md-4" style="max-width: 150px;">
              <img src="{{url_for('static', filename='MicheleZazaFotoCVEditCircle.png')}}" class="img-fluid rounded-start"
                   alt="Icona Michele" style="max-width: 200px;">
            </div>
          </div>
        </div>

        <div style="padding-left: 35px;">
            <h1> I miei contatti </h1>
            <lu>
                <li style="font-size: 20px;"> Email: emailMicheleZaza@gmail.com </li>
                <li style="font-size: 20px;"> Telefono: +39 1234567890 </li>
                <li style="font-size: 20px;"> Indirizzo: Via Anonima 1 </li>
                <li style="font-size: 20px;"> Linkedin: <a href="https://www.linkedin.com/in/michele-zaza/">Michele Zaza</a> </li>
            </lu>
        </div>
    </div>
{% endblock %}
