{% extends 'base_without_nav.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %} Modifica progetto {% endblock %}

{% block body %}

    {{ super() }}

    <div class="container">
        <p style="font-weight: bold; font-size: large;"> Modifica progetto </p>
        <form action="/update/{{ project.id }}" method="POST">
            <input maxlength="100" class="form-control" placeholder="Titolo progetto" type="text" name="title" id="title" value="{{ project.title }}"> <br>
            <textarea maxlength="300" class="form-control" rows="5" name="content" id="content">{{ project.content }}</textarea> <br>
            <button class="btn btn-primary" onclick="history.back()"> Torna indietro </button>
            <input class="btn btn-primary" type="submit" value="Modifica progetto">
        </form>
    </div>
{% endblock %}
