html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #D4D6DB;
}

body { padding: 20px;}

/* serve per cambiare il colore quando passo il mouse (hover) sui collegamenti della navbar */
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #8B0000;
}

h1
{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
}